<%= stylesheet_link_tag 'shops', :media => "all" %>

<div class="under-header-container">
<div class="under-header3">
<%# app/assets/images %>
<%= image_tag "icon.png", { alt: "Rails icon", id: "assets", class: "image", width: "35px", height: "35px" } %>
</div>
<div class="under-header">
<p>ヒトリエ</p>
</div>
<div class="under-header2">
<div class="under-header-section">
<%= link_to "about", shops_about_path %>
</div>
<div class="under-header-section">
<%= link_to "sign in", new_user_registration_path %>
</div>
<div class="under-header-section">
<!--
<%= link_to "search", shops_search_path %>
-->
<ul id="menu">
    <li><a href="">search</a>
        <ul class="child_menu">
            <li><%= link_to "キーワード検索する", shops_search_path, class: 'btn btn-default' %></li>
            <li><%= link_to "地図から検索する", shops_mapsearch_path, class: 'btn btn-default' %></li>
            <li><%= link_to "条件検索する", shops_condition_path, class: 'btn btn-default' %></li>
            <li><%= link_to "優柔不断なあなたに", shops_random_path, class: 'btn btn-default' %></li>
        </ul>
    </li>
</ul>
</div>
<div class="under-header-section">
<%= form_tag({controller:"shops",action:"index4"}, method: :get) do %>
    <%= text_field_tag :search %>
    <input type="submit" value"Let's Go" class="button2">
 <% end %>
 </div>
 </div>
</div>

<div class="a">
    <div class="b">
        <img class="c" src="assets/food8.jpg">
        <p>Enjoy your Hitori Gohan</p>
    </div>
    <div class="b">
        <img class="c" src="assets/food10.jpg">
        <p>Enjoy your Hitori Gohan</p>
    </div>
    <div class="b">
        <img class="c" src="assets/food13.jpg">
        <p>Enjoy your Hitori Gohan</p>
    </div>
</div>


<div class="animation">
<div class="anm_mod right delay">
<div class="behind-box-1">
<div class="sections">
<div class="section-word-1">
    <h3>店を探す</h3>
</div>
<div class="anm_mod right delay">
<div class="section-word-2">
    <p>4つの検索方法からあなたにぴったりのお店を探しましょう</p>
</div>
</div>
</div>

<div class="anm_mod right delay">

<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
        <%# app/assets/images %>
        <%= link_to image_tag("search1.jpg", { alt: "Rails icon", id: "assets", class: "image", width: "600px" }), shops_search_path %>
        <p>キーワードで検索する</p>    
        </div>
        <div class="swiper-slide">
        <%# app/assets/images %>
        <%= link_to image_tag("map1.jpg", { alt: "Rails icon", id: "assets", class: "image", width: "600px" }), shops_mapsearch_path %>   
        <p>地図で検索する</p>     
        </div>
        <div class="swiper-slide">
        <%# app/assets/images %>
        <%= link_to image_tag("search2.jpg", { alt: "Rails icon", id: "assets", class: "image", width: "600px" }), shops_condition_path %>
        <p>ジャンルで検索する</p>        
        </div>
        <div class="swiper-slide">
        <%# app/assets/images %>
        <%= link_to image_tag("search3.jpg", { alt: "Rails icon", id: "assets", class: "image", width: "600px" }), shops_random_path %>   
        <p>優柔不断なあなたへ</p>     
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    </div>

</div>

<div class="anm_mod left delay">
<div class="behind-box-2">

<div class="sections">
<div class="anm_mod left delay">
<div class="section-word-3">
    <h3>いいね数Top3の店を見てみる</h3>
</div>
<div class="anm_mod left delay">
<div class="section-word-4">
    <p>みんなのお気に入りの店から今日の店を探しましょう</p>
</div>
</div>
</div>
</div>
<div class="anm_mod left delay">
<div class="shop-container">
<% @shop_ranks.each do |t| %>
    <div class="shop">
    <div class="img-box">
    <%= image_tag t.image_url, size: "100%×100%" if t.image? %>
    </div>

    <div class="shop-explain-box">
        <div class="top3-shop-explain">
        <h3><%= t.name %><br>
        <p>ジャンル：<%= @genres[(t.genre_id - 1)]['name'] %>　<%= @prices[(t.price_id - 1)]['pricerange'] %>
        </h3>
        </p>
        </div>
    
        <div class="LikesIcon">
            <i class="far fa-heart LikesIcon-fa-heart"></i>
            <%=t.likes.count%>
            <div class="top3-shop-method">
            <%= link_to "詳しく見る", shop_path(t.id) %>
            </div>    
        </div>
    </div>
    </div>
<% end %>
</div>
</div>

<div class="anm_mod right delay">
<div class="behind-box-3">
<div class="sections">
<div class="anm_mod right delay">
<div class="section-word-5">
<h3>お知らせ</h3>
</div>
</div>
</div>
<div class="anm_mod right delay">
<div class="info-container">
    <% @infos.each do |t| %>
        <div class="info">
        <p><%= t.body.truncate(15, omission: '...') %></p>
        <p><%= link_to "詳細へ", info_path(t.id) %></p>
        </div>
    <% end %>
</div>
</div>
</div>
</div>

<div class="page-top-box">
<div id="page_top">
<a href="#"></a>
</div>
<p>ページトップへ戻る</p>
</div>

<script src="https://embed.small.chat/T01DG63L5GSG01D1DTHFTR.js" async></script>

<div class="above-footer">
</div>

<script>
$(window).scroll(function() {
 　　// .animation 配下の　.anm_modを対象に見る
 $(".animation .anm_mod").each(function() {
  // スクロール中、各UIパーツ　.anm_modがブラウザ画面内に入ったら activeクラスが付与される
  const position = $(this).offset().top;
  const scroll = $(window).scrollTop();
  const windowHeight = $(window).height();
  if (scroll > position - windowHeight) {
   $(this).addClass("active");
  }
  // スクロール中、トップ画面付近まで戻ったら activeクラスを解除 ＝ 何度でもスクロールアニメが表現可能。一度しかアニメーションしたく無ければここを削除してください。
  if (scroll < 100) {
   $(this).removeClass("active");
  }
 });
});
</script>

<script>
$(function() {
    $('.a').slick({
        dots: true,
        autoplay: true,
        autoplaySpeed: 3000,
    });
});
</script>

<script>
var mySwiper = new Swiper ('.swiper-container', {
  loop: true,
  slidesPerView: 2,
  spaceBetween: 10,
  centeredSlides : true,
  pagination: '.swiper-pagination',
  nextButton: '.swiper-button-next',
  prevButton: '.swiper-button-prev'
})
</script>

<script>
$(function(){
    $("ul#menu li").hover(function(){
        $("> ul:not(:animated)" , this).animate({
            height : "toggle",
            opacity : "toggle"
        }, 500 );
    },
    function(){
        $("> ul" , this).fadeOut("slow");
    });
});
</script>
