<div class="signup-title">
<h2>ログイン</h2>
</div>

<div class="signin-box">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="username">
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </div>

  <div class="password">
  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  </div>

  <% if devise_mapping.rememberable? %>
  <div class="password">
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "記憶しておく" %>
    </div>
  <% end %>
  </div>

  <div class="actions">
  <input type="submit" value:"Let's Go" class="button">
  </div>
<% end %>

<%= render "users/shared/links" %>

</div>

<div class="user-totop">
<%= link_to "topへ戻る", top_path %>
</div>

<div class="above-footer">
</div>

<footer>
<p>Copyright © YuseiDoi All Rights Reserved.</p>
</footer>
